body {
    /*background-image: url("capybara-square-1.jpg") ;*/
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
    background-color: aqua;
}
#hand{
    height: 1000px;
    width: 1000px;
}
#hand:active{

    box-shadow: 0 5px #666;
    transform: translateY(40px);
}
#hand:hover{
    cursor: -webkit-grab;
    cursor: grab;
}
h1{
    margin-left: 50%;
    color: yellow;
    
    
}
